body, html {
    height: 100%;
    background-repeat: no-repeat;
    /*background-image: linear-gradient(rgb(10, 0, 0), rgb(10, 70, 255));*/
}
h1 {
	padding: 10px;
	margin: 20px;
}
.card-text-small{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#noproducto {
	padding: 20px;
	margin: 20px;
}
